html{
  background-color: black;
}
body{
  background-color: navy;
  color: cyan;
  margin: 90px 5px 40px;
}
header{
  text-align: center;
  left: 0px;
  top: 0px;
  height: 60px;
  position: fixed;
}
nav{
  left: 0px;
  top: 60px;
  height: 30px;
  position: fixed;
}
nav a:hover{
  color: yellow;
}
nav a:link{
  color: pink;
}
nav a:visited{
  color: white;
}

/* css for the table in displaystock.php. Note: needs improvement */
td {
  max-width : 100px;
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
}

td:hover {
  max-width : initial;
}
footer {
  text-align: center;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
}
