html{
  background-color: black;
}

body{
  background-color: navy;
  color: cyan;
  margin: 100px 5px 60px;
}

header{
  text-align: center;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 55px;
  position: fixed;
}

nav{
  left: 0px;
  top: 60px;
  width: 100%;
  height: 30px;
  position: fixed;
}

nav a:hover{
  color: yellow;
}

nav a:link{
  color: pink;
}

nav a:visited{
  color: white;
}

/* css for the table in displaystock.php. Note: needs improvement */
td {
  max-width : 100px;
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
}

td:hover {
  max-width : initial;
}

footer {
  text-align: center;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 40px;
  position: fixed;
}
