html{
  background-color: black;
}
body{
  background-color: navy;
  color: cyan;
}
nav a:hover{
  color: yellow;
}
nav a:link{
  color: pink;
}
nav a:visited{
  color: white;
}

/* css for the table in displaystock.php. Note: needs improvement */
td {
  max-width : 150px;
  white-space : nowrap;
  overflow : hidden;
}

td:hover {
  max-width : initial;
}
