.TR {
  /* background-color: lime; */
  display: table-row;
  /* padding: 2px; */
}
.TC {
  /* background-color: lightskyblue; */
  display: table-cell;
  /* border: 2px solid lime; */
  border: 1px solid black;
  padding: 5px;
}
/* ID */
.TC:nth-child(1) {
  width: 6em;
}
/* Name */
.TC:nth-child(2) {
  width: 60em;
}
/* Price */
.TC:nth-child(3) {
  width: 10em;
}
/* Cost Price */
.TC:nth-child(4) {
  width: 12em;
}
/* Quantity */
.TC:nth-child(5) {
  width: 8em;
}
/* Target Quantity */
.TC:nth-child(6) {
  width: 16em;
}
