.TR {
  /* background-color: lime; */
  display: table-row;
  /* padding: 2px; */
}
.TC {
  /* background-color: lightskyblue; */
  display: table-cell;
  /* border: 2px solid lime; */
  border: 1px solid black;
  padding: 5px;
}
.TC:nth-child(1) {
  width: 6em;
}
.TC:nth-child(2) {
  width: 250em;
}
.TC:nth-child(3) {
  width: 10em;
}
.TC:nth-child(4) {
  width: 15em;
}
.TC:nth-child(5) {
  width: 6em;
}
.TC:nth-child(6) {
  width: 20em;
}
