.TR {
  /* background-color: lime; */
  display: table-row;
  /* padding: 2px; */
}
.TCL {
  /* background-color: lightskyblue; */
  display: table-cell;
  /* border: 2px solid lime; */
  border: 1px solid black;
  border-right: none;
  padding: 5px 2px 5px 5px;
}
/* ID */
.TCL:nth-child(1) {
  width: 2em;
}
/* Name */
.TCL:nth-child(3) {
  width: 4em;
}
/* Price */
.TCL:nth-child(5) {
  width: 4em;
}
/* Cost Price */
.TCL:nth-child(7) {
  width: 6em;
}
/* Quantity */
.TCL:nth-child(9) {
  width: 5em;
}
/* Target Quantity */
.TCL:nth-child(11) {
  width: 13em;
}

.TCR {
  /* background-color: lightskyblue; */
  display: table-cell;
  /* border: 2px solid lime; */
  border: 1px solid black;
  border-left: none;
  padding: 5px 5px 5px 2px;
}
/* ID */
.TCR:nth-child(2) {
  width: 4em;
}
/* Name */
.TCR:nth-child(4) {
  width: 56em;
}
/* Price */
.TCR:nth-child(6) {
  width: 4em;
}
/* Cost Price */
.TCR:nth-child(8) {
  width: 4em;
}
/* Quantity */
.TCR:nth-child(10) {
  width: 3em;
}
/* Target Quantity */
.TCR:nth-child(12) {
  width: 3em;
}
